/* You can add global styles to this file, and also import other style files */

#background-img {
    background-image: url("../../../../resources/london.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    z-index: -100;
    filter: blur(2px);
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
}

#background-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgb(6,27,30);
    background: linear-gradient(42deg, #061b1e 0%, #eb7b46 75%, #ffffba 100%);
    opacity: 0.95;
    z-index: -10;
}

img {
    width: 300px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    border-radius: 100%;
    transition: 0.5s;
    opacity: 0.5;
    z-index: 10;
}

img:hover {
    cursor: pointer;
    transform: scale(1.05);
    top: -30px;
    opacity: 0.75;
    filter: blur(0px);
}

.blur {
    filter: blur(30px);
    z-index: 0;
    opacity: 1;
}

